mixin toPlato(sg)
	|#{((-1 * 616.868) + (1111.14 * sg) - (630.272 * Math.pow(sg,2)) + (135.997 * Math.pow(sg,3))).toFixed(1)}

extends ../../vorlauf/optimism-static/templates/layout
append head
	meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
	script(type="text/javascript",src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(type="text/javascript",src="ui.js")
	link(rel='stylesheet', href='http://optimismbrewing.com/css/style.css')
	link(rel='stylesheet', href='styles.css')
block content
	h1 BJCP Styles 2008
	.buttons
		button#nameSortButton Sort by Name
		button#numberSortButton Sort by ID
	#styles
		-for style in styles
			.style(id="#{style.category.id}")
				.name #{style.name}
				.category #{style.category.id}
				.info
					.parameters
						-if (style.OG)
							.og 
								+toPlato(style.OG.min)
								|&ndash;
								+toPlato(style.OG.max)
								|&deg;P (#{style.OG.min.toFixed(3)}-#{style.OG.max.toFixed(3)})
						-if (style.FG)
							.fg
								+toPlato(style.FG.min)
								|&ndash;
								+toPlato(style.FG.max)
								|&deg;P (#{style.FG.min.toFixed(3)}-#{style.FG.max.toFixed(3)})
						-if (style.IBU)
							.ibu #{style.IBU.min}-#{style.IBU.max}
						-if (style.color)
							.color #{style.color.min}-#{style.color.max}
						-if (style.ABV)
							.abv #{style.ABV.min}-#{style.ABV.max}
					.descriptions
						-if (style.aroma)
							.aroma= style.aroma
						-if (style.appearance)
							.appearance= style.appearance
						-if (style.flavor)
							.flavor= style.flavor
						-if (style.mouthfeel)
							.mouthfeel= style.mouthfeel
						-if (style.impression)
							.impression= style.impression
						-if (style.comments)
							.comments= style.comments
						-if (style.ingredients)
							.ingredients= style.ingredients
						-if (style.examples)
							.examples= style.examples
